@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #17181D;
    color: #fff;
    margin: 0;
}

/* Define a animação fade-in */
@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  /* Aplica o fade-in ao #root */
  #root {
	animation: fadeIn 1s ease-in-out;
  }
