@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #17181D;
    color: #fff;
    margin: 0;
}

/* Define a animação fade-in */
@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  /* Aplica o fade-in ao #root */
  #root {
	animation: fadeIn 1s ease-in-out;
  }

  .card-title {
	position: relative;
	z-index: 1;
	background: #fff; /* Cor de fundo interna */
	border-radius: 9999px; /* rounded-full */
  }
  
  .card-title::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 77, 77, 1) 39%, rgba(249, 203, 40, 1) 100%);
	border-radius: 9999px; /* Aplicando o arredondamento ao pseudo-elemento */
  }
  